body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background-color: #f9f4f7;
    color: #333;
}

h1, h2, h3 {
    font-weight: 600;
}

/* NAVIGATION */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: #ffb7c5;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

.nav-links a.active,
.nav-links a:hover {
    color: #7a003c;
}

/* HERO */
.hero {

    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-content {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 40px;
    border-radius: 10px;
}
.main-img{
    width: 50%;
    border-radius: 10px;
   margin-left: auto;
   margin-right: auto;
    display: block;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 12px 25px;
    background-color: #ff6f91;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

/* SERVICES */
.services {
    padding: 50px;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    flex-wrap: wrap;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* ABOUT PAGE */
.about {
    padding: 50px;
    max-width: 800px;
    margin: auto;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background-color: #ffb7c5;
    margin-top: 40px;
}

